.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menuitem {
  float: left;
}

.menuitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuitem:hover {
  background-color: #111;
}


//animatie knop

body {
  background-color: #1D1F20;
}

.btn {
  background-color: #2B2D2F;
  collor: #71DFBE;
}
